@model IEnumerable<Myvshoponline.Position>

@{
    ViewBag.Title = "Market Square247 Application Portal";
    MyvshoponlineEntities db = new MyvshoponlineEntities();
    int ApplicationClosed =(int) db.Settings.Select(s => s.ApplicationClosed).First();
    int PositionID = Convert.ToInt32(Request.QueryString["AppType"]);
}
}
@using Myvshoponline.Controllers;
<link href="~/Content/Panel.css" rel="stylesheet" />
<div id="content">
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title" style="color:black;font-weight:bold"> Welcome to Market Square247 Application Portal</h3>
            </div>
            <div class="panel-body" style="color:black;">
                <div>
                  
                <div class="row">
                 
                        @foreach (var item in db.Positions.Where(p => p.ID == PositionID).ToList())
                        {
                            <h4 style="text-align:left;color:#25912e;font-size:18px;margin-left:20px;">Job Title: @Html.Raw(HttpUtility.HtmlDecode(item.Position1))</h4>
                            <div class="col-md-12" style="text-align:left;margin-bottom:10px;font-size:14px;">
                                <a href="~/Applications/ApplyNow/?AppType=@item.ID">
                                    <div style="background-color:#f0f3f5;border-radius:5px;padding:5px 5px 5px 5px;">
                                       @Html.Raw(HttpUtility.HtmlDecode(item.Description))
                                    </div>
                                    <btn class="btn btn-apply" style="background-color:green;color:white;margin-bottom:20px;">Apply Now &raquo;</btn>
                                </a>
                                                    </div>
                     
                  }
                </div>
            </div>
        </div>
        </div></div></div>
