
.card {
  border-radius: 25px;
  box-shadow: -5px 5px 1px rgba(0, 0, 0, 0.3);
}

.card-head {
  position: relative;
  height: 150px;
  /*padding:10px;*/
  right:0;
  margin-right:0px;
  padding-right:0px;
  background: #fa782e;
  /*background: #fa782e;*/
  width: 210px;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fa782e 8%, #c82930 83%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fa782e', endColorstr='#c82930', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 25px 3px 0 0;
}

.card-logo {
  width: 55px;
  margin: 20px;
}

.product-img {
 border-top-left-radius: 10px;
 border-bottom-left-radius:10px;
 float:right;
  height: 160px;
  width:200px;
  right:0;
}

.product-detail {
  padding: 0 0px;
  font-size: 11px;
  color: #fff;
}

  .product-detail h2 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }

.back-text {
  display: inline-block;
  font-size: 125px;
  font-weight: 900;
  margin-left: -7px;
  margin-top: -12px;
  opacity: 0.1;
}

.card-body {
  height: 120px;
  width: 210px;
  background: #fff;
  border-radius: 0 0 25px 25px;
}

.product-title {
  
  display: block;
  font-size: 12px!important;
  letter-spacing: 1px;
  text-transform: uppercase;
}

  .product-title b {
    font-weight: 900;
    letter-spacing: 0px;
  }

.badge-product {
  position: relative;
  font-size: 10px;
  font-weight: 300;
  color: #fff;
  background: #11e95b;
  padding: 2px 5px;
  border-radius: 4px;
  top: -2px;
  margin-left: 5px;
}

.product-caption {
  display: block;
  padding: 0 20px;
  font-size: 10px;
  font-weight: 200;
  text-transform:uppercase;
}

.product-rating {
  padding: 0 20px;
  font-size: 11px;
}

  .product-rating i.grey {
    color: #acacab;
  }

.product-size h4 {
  font-size: 11px;
  padding: 0 21px;
  margin-top: 15px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.product-size:before,
.product-size:after {
  content: '';
  display: block;
  clear: both;
}

.product-color h4 {
  font-size: 11px;
  padding: 0 21px;
  margin-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.product-price {
  background: #11e95b;
  padding: 0px 20px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  font-weight:100;
  color: #fff;
  border-radius: 7px;
  margin-top: -13px;
  margin-left: -5px;
  box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
  float: right;
  margin-right: 10px;
}

  .product-price b {
    margin-left: 5px;
  }



.yt {
  position: fixed;
  padding: 7px 10px 3px 10px;
  top: 5px;
  right: 5px;
  background: rgba(0,0,0,0.1);
}

  .yt:hover {
    background: rgba(0,0,0,0.2);
  }
