@{
    ViewBag.Title = "Promotions";
}







<!-- Start Content -->
<div id="faq" class="section pb-45" style="margin-top:0px;padding-top:0px;">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-6 col-xs-12">
                <!-- accordion start -->
                <div class="panel-group" id="accordion">
                    <h4 style="font-size:15px;margin-top:30px;" class="alert alert-info">
                        Get more traffic to your online store to boost your sales.
                    </h4>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    Sponsor your products for Search Optimization.
                                     </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                              <p>
                                  There are thousands of products from different stores loaded on MarketSquare247, you need to optimize your products for search result to drive 
                                  more customers to your online store.

                                  Products that are optimized for search result get listed at the top as sponsored.
                                  You are 98% sure of MarketSquare247 customers choosing your product. <br />
                                  Your online store/products gets listed on google automatically.
                                  <br />
                                  <b>How to promote your products for search optimization</b>
                                  <br />
                                  &raquo;<a href="~/users/Create"> Create your account </a>
                                  <br />
                                  &raquo; Add your online store
                                  <br />
                                  &raquo; Click on your online store
                                  <br />
                                  &raquo; Add products
                                  <br />
                                  &raquo; Click on your online store again, choose Search Optimization as shown in the image below
                                  <br />
                                  <img src="~/Images/promotion.jpg" style="width:400px;" />  <br />
                                  &raquo; Follow the prompt
                                  <br />
                                  &raquo; Click Promote Now.
                                  <br />
                                  That's all.
                                  <br />
                                    
                              </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                   Sponsor your products as Popular Products.
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                   MarketSquare247 is loaded with thousands of products from different stores and these products are not available on the home page. 
                                    These products are visible only when a visitor 
                                    searches for the product on the platform.
                                    <br />
                                    Sponsor your products to get them listed in the Popular Products section on the home page.<br />
                                    You are 97% sure of MarketSquare247 customers choosing your product.
                                    <br />
                                    Your online store/products gets listed on google automatically.
                                    <br />
                                    <b>How to promote your products as Popular Products</b>
                                    <br />
                                    &raquo;<a href="~/users/Create"> Create your account </a>
                                    <br />
                                    &raquo; Add your online store
                                    <br />
                                    &raquo; Click on your online store
                                    <br />
                                    &raquo; Add products
                                    <br />
                                    &raquo; Click on your online store again, choose Promote My Products as shown in the image below
                                    <br />
                                    <img src="~/Images/promotion.jpg" style="width:400px;" />  <br />
                                    &raquo; Follow the prompt
                                    <br />
                                    &raquo; Click Promote Now.
                                    <br />
                                    That's all.
                                    <br />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    Sponsor your online store as Popular Store.
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                              <p>
                                  Make your online store popular on MarketSquare247.
                                  Your online store appears on the home page in Popular Stores Section.
                                  Visitors gets to know your online store easily.

                                  You stand a chance of driving more customers to your online store.
                                  <br />
                                  Your online store gets listed on google automatically.
                                  <br />
                                  <b>How to promote your online store.</b>
                                  <br />
                                  &raquo;<a href="~/users/Create"> Create your account </a>
                                  <br />
                                  &raquo; Add your online store
                                  <br />
                                  &raquo; Click on your online store
                                  <br />
                                  &raquo; Add products
                                  <br />
                                  &raquo; Click on your online store again, choose Promote My Store as shown in the image below
                                  <br />
                                  <img src="~/Images/promotion.jpg" style="width:400px;" />  <br />
                                  &raquo; Follow the prompt
                                  <br />
                                  &raquo; Click Promote Now.
                                  <br />
                                  That's all.
                                  <br />
                                  
                              </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                    Advertize your products on social media (Facebook, LinkedIn & Twitter) using Market Sqaure247 Social Media APIs.
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    Use MarketSqaure247 platform to own an online store and also advertize your products on social media platforms.
                                    MarketSquare247 social media API handles the technicalities involved on your behalf.
                                    What you need is just to:- <br />
                                    &raquo;<a href="~/users/Create"> Create your account </a>
                                    <br />
                                    &raquo; Add your online store
                                    <br />
                                    &raquo; Click on your online store
                                    <br />
                                    &raquo; Add products
                                    <br />
                                    &raquo; Click on your online store again, locate advertize on social media as shown in the image below
                                    <br />
                                    <img src="~/Images/promotion.jpg" style="width:400px;" />  <br />  
                                    &raquo; Choose Social Media Channel, what you want to promote, audience and other relevant information
                                    <br />    
                                    &raquo; Click Promote Now.
                                    <br />
                                    That's all.  
                                    <br />
                                    &raquo; Click on My Promotions to monitor your campaign.                       
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- accordion End -->
            </div>
            @*<div class="col-lg-6 col-md-6 col-xs-12">
               
            </div>*@
        </div>
    </div>
</div>
<!-- End Content -->