@{
  ViewBag.Title = "Terms and Conditions";
}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Summernote with Bootstrap 4</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
</head>
<body>
  <textarea id="summernote"></textarea>
  <script>
    $('#summernote').summernote({
      placeholder: 'Hello Bootstrap 4',
      tabsize: 2,
      height: 100
    });
  </script>
</body>
</html>

General Terms and Conditions of Use of the Xamgos Platform for Buyers and Sellers

1. Introduction
1.1. Xamagos is the trade name for Xamagos Limited. Xamagos Limited operates an e-commerce platform consisting of a website and mobile application (“Xamagos”) for the sale and purchase of consumer products and services (“products”).
1.2. These general terms and conditions apply to all buyers and sellers using Xamagos and govern the use of the platform and related services.
1.3. By using our platform, you agree to these general terms and conditions in full. If you do not agree with any part of these general terms and conditions, you must not use our marketplace.
1.4. If you use Xamagos in the course of a business or other organizational project, you confirm that you have the necessary authority to agree to these general terms and conditions. You also bind yourself and the person, company, or other legal entity operating that business or organizational project to these general terms and conditions. Additionally, you agree that these general terms and conditions shall reference both the individual user and the relevant person, company, or legal entity, unless the context requires otherwise.
2. Registration and account
2.1. To register on Xamagos, you must be at least 18 years old (by using our platform or agreeing to these general terms and conditions, you represent and warrant that you are at least 18 years old).
2.2. When you register for an account on our platform, you will be required to provide an email address/user ID and password. By registering, you agree to:
2.2.1. Keep your password confidential;
2.2.2. Be responsible for any activity on our platform arising from any failure to keep your password confidential, and you may be held liable for any losses arising from such a failure;
2.2.3. Use your account exclusively and not transfer it to any third party. If you authorize any third party to manage your account on your behalf, you do so at your own risk;
2.2.4. Understand that we reserve the right to suspend or cancel your account and/or edit your account details at any time in our sole discretion and without notice or explanation
2.2.5 You may cancel your account on our platform by contacting us.
3. Terms of Sale
3.1. By using Xamagos, you acknowledge and agree that:
3.1.1. The Xamagos provides a platform for sellers to sell and buyers to purchase products online;
3.1.2. We, Xamagos, are not a party to the transaction between the buyer and the seller;
3.1.3. A contract for the sale and purchase of a product will be formed between the buyer and the seller once the buyer.

3.2. The contract of sale and purchase between the buyer and the seller will be governed by the seller's terms of business, subject to these general terms and conditions. However, the following provisions will be included in the contract:
3.2.1. The price of the product will be as stated in the relevant product listing;
3.2.4. The products must be of satisfactory quality, fit and safe for any purpose specified in the product listing, and conform to the product listing and any other description of the products provided by the seller to the buyer; and
3.2.5. In the case of physical products, the seller warrants that they have good title to the products, are the sole legal and beneficial owner of the products, and have the right to supply the products under this agreement. The products must not be subject to any third-party rights or restrictions, including third-party intellectual property rights, criminal insolvency, or tax investigation or proceedings. In the case of digital products, the seller warrants that they have the right to supply the digital products to the buyer.
4. Rules regarding content submission and use:
8.1. Your content includes any material you submit to our marketplace for storage, publication, processing, or transmission, as well as any communications on the marketplace, such as product reviews, feedback, and comments.

8.2. Your content must be accurate, complete, and truthful, and must comply with these general terms and conditions.

8.3. Your content must be appropriate, civil, tasteful, and in line with generally accepted standards of etiquette and behavior on the internet. Your content must not be offensive, obscene, indecent, pornographic, lewd, suggestive, sexually explicit, depict violence in an explicit or graphic manner, or be blasphemous, in breach of racial or religious hatred or discrimination legislation. Your content must not be deceptive, fraudulent, threatening, abusive, harassing, anti-social, menacing, hateful, discriminatory, or inflammatory, and must not cause annoyance, inconvenience, or needless anxiety to any person. Your content must not constitute spam.

8.4. Your content must not be illegal or unlawful, infringe any person's legal rights, or be capable of giving rise to legal action against any person in any jurisdiction and under any applicable law. Your content must not infringe or breach any intellectual property right, any right of confidence, right of privacy, or right under data protection legislation, any contractual obligation owed to any person, or any court order.

8.5. You must not use our marketplace to link to any website or web page consisting of or containing material that would, were it posted on our marketplace, breach these general terms and conditions.

8.6. You must not submit to our marketplace any material that is or has ever been the subject of any threatened or actual legal proceedings or other similar complaint.

8.7. You must not use the review function or any other form of communication to provide inaccurate, inauthentic, or fake reviews. The review function may be used to facilitate buyer reviews on products.

8.8. You must not interfere with a transaction by contacting another user to buy or sell an item listed on the marketplace outside of the marketplace, communicating with a user involved in an active or completed transaction to warn them away from a particular buyer, seller, or item, or contacting another user with the intent to collect any payments.

8.9. You acknowledge that all users of the marketplace are solely responsible for interactions with other users, and you shall exercise caution and good judgment in your communication with users. You shall not send them personal information, including credit card details.

8.10. We may periodically review your content and reserve the right to remove any content at our discretion for any reason whatsoever.

8.11. If you learn of any unlawful material or activity on our marketplace or any material or activity that breaches these general terms and conditions, you may inform us by contacting us as provided in the section.
5. Our use of your content
Under these general terms and conditions, we are granted a non-exclusive, worldwide, royalty-free license to use, reproduce, store, adapt, publish, translate, and distribute any content you submit to our marketplace and marketing channels, as well as the right to sub-license these rights and bring legal action for infringement of these rights.

You acknowledge and agree that you waive all moral rights in your content to the fullest extent permitted by applicable law. You also warrant and represent that all other moral rights in your content have been waived to the maximum extent allowed by law.

If you violate our content rules or if we suspect that you have done so, we may edit, unpublish, or delete any or all of your content without notice and without any liability to you.
6. Use of Website and Mobile Applications
10.1. In this section, the terms "website" and "marketplace" are interchangeable and refer to Xamagos' websites and mobile applications.

10.2. You are allowed to:

10.2.1. View web pages on our website using a web browser.
10.2.2. Download web pages from our website for caching in a web browser.
10.2.3. Print web pages from our website for personal and non-commercial use, provided that printing is not systematic or excessive.
10.2.4. Stream audio and video files from our website using the media player on our website.
10.2.5. Use our marketplace services through a web browser, subject to the other provisions of these general terms and conditions.

10.3. Except as expressly permitted by Section 10.2 or the other provisions of these general terms and conditions, you must not download any material from our website or save any such material to your computer.

10.4. You may only use our website for your own personal and business purposes, in respect of selling or purchasing products on the marketplace.

10.5. Except as expressly permitted by these general terms and conditions, you must not edit or otherwise modify any material on our website.

10.6. Unless you own or control the relevant rights in the material, you must not:

10.6.1. Republish material from our website, including republication on another website.
10.6.2. Sell, rent, or sub-license material from our website.
10.6.3. Show any material from our website in public.
10.6.4. Exploit material from our website for commercial purposes.
10.6.5. Redistribute material from our website.

10.7. Despite Section 10.6, you may forward links to products on our website and redistribute our newsletter and promotional materials in print and electronic form to any person.

10.8. We reserve the right to suspend or restrict access to our website, including areas of our website and/or functionality upon our website. For example, we may suspend access to the website during server maintenance or when updating the website. You must not circumvent or attempt to circumvent any access restriction measures on the website.

10.9. You must not:

10.9.1. Use our website in any way that may cause damage to the website or impair its performance, availability, accessibility, integrity, or security.
10.9.2. Use our website in any unethical, unlawful, illegal, fraudulent, or harmful manner, or in connection with any unlawful, illegal, fraudulent, or harmful purpose or activity.
10.9.3. Hack or tamper with our website.
10.9.4. Probe, scan, or test the vulnerability of our website without our permission.
10.9.5. Circumvent any authentication or security systems or processes on or relating to our website.
10.9.6. Use our website to copy, store, host, transmit, send, publish, or distribute any material linked to spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit, or other malicious computer software.
10.9.7. Impose an unreasonably large load on our website resources, including bandwidth, storage capacity, and processing capacity.
10.9.8. Decrypt or decipher any communications sent by or to our website without our permission.
10.9.9. Conduct any systematic or automated data collection activities, including scraping, data mining, data extraction, and data harvesting, on or in relation to our website without our express written consent.

7. Copyright and Trademarks

We, along with our licensors, own and control all the intellectual property rights, including copyrights, in our website and the material present on it, subject to the provisions of these general terms and conditions. All intellectual property rights on our website and its material are reserved.

Our logos and other registered and unregistered trademarks are our property, and we do not permit their use. Unauthorized use of these trademarks may constitute an infringement of our rights.

The third-party trademarks or service marks on our website belong to their respective owners, and we do not endorse or affiliate with any of them. Therefore, we cannot grant any license to use those rights.


8. Data privacy
12.1. By using Jumia's marketplace and related services, buyers consent to the processing of their personal data in accordance with Jumia's Privacy and Cookie Notice.

12.2. Jumia is committed to processing all personal data obtained through the marketplace and related services in accordance with its Privacy and Cookie Notice and Privacy Policy.

12.3. Sellers are responsible for any misuse of buyers' personal data, and Jumia shall not be held liable to buyers for any such misuse by sellers.

9. Breaches of these general terms and conditions
If an account is registered on our marketplace, it will remain open indefinitely subject to these general terms and conditions.

If you breach these terms and conditions, or if we reasonably suspect that you have, we may take the following actions:

Temporarily suspend your access to our marketplace.
Permanently prohibit you from accessing our marketplace.
Block computers using your IP address from accessing our marketplace.
Contact any or all of your internet service providers and request that they block your access to our marketplace.
Suspend or delete your account on our marketplace.
Commence legal action against you, whether for breach of contract or otherwise.
If we suspend, prohibit, or block your access to our marketplace or a part of it, you must not take any action to circumvent such suspension, prohibition, or blocking, including creating and/or using a different account.
10.  Entire agreement
These general terms and conditions, together with the Xamagos codes policies and guidelines (and the seller terms and conditions for sellers), make up the complete agreement between you and us regarding your use of our marketplace. They replace any previous agreements between you and us related to your use of our marketplace.
