@{
    MyvshoponlineEntities db = new MyvshoponlineEntities();
    ViewBag.Title = "Terms and Conditions";
}
<p></p>

@Html.Raw(HttpUtility.HtmlDecode(db.TermsandPrivacies.Select(s=>s.Terms).FirstOrDefault()))

