<link href="~/Content/Panel.css" rel="stylesheet" />
<style>
  .fade {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    position: center;
  }

  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .active, .collapsible:hover {
    background-color: #555;
  }

  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2212";
  }

  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }
</style>
@model IEnumerable<Myvshoponline.User>
@using Myvshoponline.Controllers;
@{ MyvshoponlineEntities db = new MyvshoponlineEntities();
    Getdata mydata = new Getdata();
}

<link href="~/Content/Panel.css" rel="stylesheet" />


@{
    ViewBag.Title = ViewBag.CompanyName;
}
@{
    int UserID = ViewBag.CompanyID;
    string PricingPlan = db.Users.Find(UserID).PricingPlan.PlanName;
    int NumberofShops = (int)db.PricingPlans.Where(p => p.PlanName == PricingPlan).Select(p => p.NumberofShops).FirstOrDefault();
    int TotalNumberofShops = db.Shops.Where(s => s.UserID == UserID).Count();

    int paymentstatus = (int)db.Users.Where(p => p.ID == UserID).Select(p => p.PaymentStatus).FirstOrDefault();

    int lYear = (int)db.Users.Where(k => k.ID == UserID).Select(k => k.LaunchYear).FirstOrDefault();
    int lmonth = (int)db.Users.Where(k => k.ID == UserID).Select(k => k.LaunchMonth).FirstOrDefault();
    int lday = (int)db.Users.Where(k => k.ID == UserID).Select(k => k.LaunchDay).FirstOrDefault();

    int pYear = (int)db.Users.Where(k => k.ID == UserID).Select(k => k.PreviousYear).FirstOrDefault();
    int pmonth = (int)db.Users.Where(k => k.ID == UserID).Select(k => k.PreviousMonth).FirstOrDefault();
    int pday = (int)db.Users.Where(k => k.ID == UserID).Select(k => k.PreviousDay).FirstOrDefault();

    DateTime lauchd = new DateTime(lYear, lmonth, lday);
    DateTime prevd = new DateTime(pYear, pmonth, pday);
    TimeSpan diff = lauchd.Subtract(prevd);
    ViewBag.diff = diff.Days;
    ViewBag.FixedDays = db.Users.Find(UserID).FixedDays;
    ViewBag.Ndays = db.Users.Find(UserID).NDays;


    string Plan = db.Users.Where(p => p.ID == UserID).Select(p => p.PricingPlan.PlanName).FirstOrDefault();
    int DaysUsed = (int)db.Users.Where(p => p.ID == UserID).Select(p => p.NDays).FirstOrDefault();
    int Fixeddays = (int)db.Users.Where(p => p.ID == UserID).Select(p => p.FixedDays).FirstOrDefault();
    double TotalDaysRemaining = Fixeddays - DaysUsed;

    var totalDays = TotalDaysRemaining;
    var totalYears = Math.Truncate(totalDays / 365);
    var totalMonths = Math.Truncate((totalDays % 365) / 30);
    var remainingDays = Math.Truncate((totalDays % 365) % 30);

}<!-- Start Content -->
<body style="background-color:#f5fcff">
</body>
<div id="content">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-12" id="companydetails" style="display:block">
                <div>
                    @foreach (var item1 in Model)
                    {
                      var passports = item1.ID + ".jpg";
                        <span class="alerts-title" id="ondesktopname" style="margin:0px;padding:2px;font-size:12px"><i class="nav-icon fas fa-user-secret" style="fill:Background"></i> IDENTITY VERIFICATION</span>
                            <br />
                      if (string.IsNullOrEmpty((string)Session["username"]))
                      {
                            <img class="alerts-title" src="~/BusinessImages/@item1.CompanyName/@passports" style="width:100px;vertical-align:top;height:100px;" />
                      }


                        <div class="row">
                            @if (!string.IsNullOrEmpty((string)Session["username"]) && ((string)Session["UserRole"] == "Shop Admin" || (string)Session["UserRole"] == "Super Admin") && (string)Session["Name"] == (string)ViewBag.CompanyName)
                            {

                              
                          <div class="col-lg-6 col-md-6 col-12" style="background-color:white;border-radius:5px;border:1px solid #BDE1AE ">
                            @*<p style="margin-top:20px;color:black;">
                              Government issued ID

                            </p>*@
                            <div class="btn btn-common" style="padding-top: 1px; padding-bottom: 1px; padding-left: 9px; padding-right: 9px; border-top-left-radius: 25px; border-top-right-radius: 25px; margin-top: 10px;margin-bottom:0px;width:100%;">
                              Government issued ID
                            </div>


                            <div class="input-group input-group-sm">
                              <select name="idtype" id="idtype" onchange="getIdType(this.value)" class="form-control" style="height:40px;">
                                <option selected disabled>Select ID Type</option>
                                <option value="National Identity Card">National Identity Card</option>
                                <option value="Voter's Card">Voter's Card</option>
                                <option value="Driver's License">Driver's License</option>
                                <option value="International Passport">International Passport</option>
                              </select>
                            </div>

                            <div id="divContent" style="display:none;margin-top:5px;">
                              <div class="panel panel-info">
                                <div class="panel-heading" style="background-color:#71BE50">
                                  <h3 class="panel-title" style="color:white;font-family:Arial;opacity:0.9;" id="lblNumber"> <span id="planname"></span></h3>
                                </div>


                                <div id="divIdentityInfo" style="display:none;">
                                  <button class="collapsible" id="viewInfo">VIEW/EDIT INFORMATION</button>
                                  <div class="content">
                                    <div id="editContent">
                                    <label style="color:black">ID Number</label>
                                    <input type="text" class="form-control" tabindex="1" style="border-color:#33C6F6;padding:18px;" id="idnoEdit" />
                                    <label style="color:black">Date Issued </label>
                                    <input type="date" class="form-control" tabindex="2" style="border-color:#33C6F6;padding:18px;margin-top:5px;margin-bottom:5px;" id="dissuedEdit">
                                    <label style="color:black">Expiry Date </label>
                                    <input type="date" class="form-control" tabindex="3" style="border-color:#33C6F6;padding:18px;" id="dexpiryEdit">
                                    <div id="idinfo-collapse"></div>
                                    <div class="input-group-append" style="margin-top:2px" id="saveChanges">
                                      <button class="btn btn-common log-btn" id="btnSaveChanges" type="button" onclick="return updateIdentity();">
                                        <span id="saveacct">Save Changes <i class="fas fa-save"></i></span>
                                      </button>
                                      <button class="btn btn-common log-btn" disabled type="button" id="loadSpinner" style="padding:18px;display:none;width:130px">
                                        <div class="spinner-container">
                                          <div class="loading-spinner"></div>
                                        </div>
                                      </button>
                                    </div>
                                    </div>

                                  </div>

                                </div>
                                <div class="panel-body" id="divBody">

                                  <div id="upload" style="display:none;">
                                    <p style="color:black;margin-top:10px;">
                                      Upload photo of ID
                                      <div class="alert-danger" id="msgInvalidUpload"> </div>
                                    </p>
                                    <span style="color:black;">
                                      Kindly upload a clear valid ID card (<strong>Front</strong>)
                                    </span>

                                    <div class="input-group input-group-sm">
                                      <input type="file" id="fileUpload" class="form-control" tabindex="1" style="border-color:#33C6F6;padding:5px;height:40px;" required="required" multiple>
                                      <div class="input-group-append">
                                        <button class="btn btn-common" type="button">
                                          <i class="fas fa-camera" id="eyeoldpw"></i>
                                        </button>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="input-group input-group-sm">
                                    @Html.DropDownList("CountryID", null, "--Select Country--", htmlAttributes: new { @class = "form-control", @id = "country", @style = "height:40px;margin-bottom:2px;border-color:#33C6F6" })
                                  </div>

                                  <div id="idinfo">
                                    <input type="text" class="form-control" tabindex="1" style="border-color:#33C6F6;padding:18px;" placeholder="" id="idno" onkeyup="changeidnocolor()" />
                                    <label style="color:black">Date Issued</label>
                                    <input type="date" class="form-control" tabindex="1" style="border-color:#33C6F6;padding:18px;margin-top:5px;margin-bottom:5px;" placeholder="" id="dissued" />
                                    <label style="color:black">Expiry Date</label>
                                    <input type="date" class="form-control" tabindex="1" style="border-color:#33C6F6;padding:18px;" placeholder="" id="dexpiry" />
                                  </div>

                                  <br />
                                  <center>
                                    <div class="input-group-append" id="infodiv">
                                      <button class="btn btn-common log-btn" id="btnContinue" type="button" onclick="return uploadIdentity();">
                                        <span id="saveacct">Save & Continue <i class="fas fa-save"></i></span>
                                      </button>
                                      <button class="btn btn-common log-btn" disabled type="button" id="loadSpinnerContinue" style="padding:18px;display:none;width:130px">
                                        <div class="spinner-container">
                                          <div class="loading-spinner"></div>
                                        </div>
                                      </button>
                                    </div>

                                    <div class="input-group-append" id="imgUpload" style="display:none">
                                      <button class="btn btn-common log-btn" id="btnUpload" type="button" onclick="return CheckFileName();">
                                        <span id="saveacct">Upload <i class="fas fa-upload"></i></span>
                                      </button>
                                      <button class="btn btn-common log-btn" disabled type="button" id="loadSpinnerUpload" style="padding:18px;display:none;width:130px">
                                        <div class="spinner-container">
                                          <div class="loading-spinner"></div>
                                        </div>
                                      </button>
                                    </div>
                                  </center>
                                </div>

                                <center>
                                  <div class="alert alert-success alert-dismissable" id="successmsg_id" style="display:none">
                                    <h3 style="font-size:14px">Success</h3>
                                    Identity information submitted successcully.
                                  </div>
                                  <div class="input-group-append" id="divSubmit" style="display:none;">
                                    <span id="chkConsentmsg" style="color:red"></span><br />
                                    <input type="checkbox" onchange="consentbox()" id="chkConsent">
                                    <span style="color:black;">I agree that the information provided above are accurate and correct.</span>
                                    <br />
                                    <button class="btn btn-success log-btn" id="btnSubmit" type="button" onclick="return submitIdentity();">
                                      <span id="saveacct">Submit Now <i class="fas fa"></i></span>
                                    </button>
                                    <button class="btn btn-common log-btn" disabled type="button" id="loadSpinnerSubmit" style="padding:18px;display:none;width:130px">
                                      <div class="spinner-container">
                                        <div class="loading-spinner"></div>
                                      </div>
                                    </button>
                                  </div>
                                </center>


                              </div>
                            </div>

                            <br />
                          </div>
                                   }
                              </div>
                    }

                    <!-- End Pagination -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Content -->


<script type="text/javascript">
        function CheckFileName() {
          var fileName = document.getElementById("fileUpload").value
            //debugger;
          if (fileName == "") {
            document.getElementById("msgInvalidUpload").innerHTML = "Browse to upload a valid image";
            //document.getElementById("fileUpload").value = "";
            return false;
          }
          else if (fileName.split(".")[1].toUpperCase() == "JPG" || fileName.split(".")[1].toUpperCase() == "JPEG" || fileName.split(".")[1].toUpperCase() == "GIF" || fileName.split(".")[1].toUpperCase() == "PNG" || fileName.split(".")[1].toUpperCase() == "ICO")
          {
            document.getElementById("msgInvalidUpload").innerHTML = "";

            // Checking whether FormData is available in browser  
            if (window.FormData !== undefined) {

              var fileUpload = $("#fileUpload").get(0);
              var files = fileUpload.files;

              // Create FormData object  
              var fileData = new FormData();

              // Looping over all files and add it to FormData object  
              for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
              }

              // Adding one more key to FormData object  
              $("#loadSpinnerUpload").css("display", "block");
              $("#btnUpload").css("display", "none");
              $.ajax({
                url: '/Users/UploadIdentity',
                type: "POST",
                contentType: false, // Not to set any content header  
                processData: false, // Not to process data  
                data: fileData,
                success: function (result) {
                  document.getElementById("divBody").innerHTML = "<img src='" + result + "' width='100%'>";
                  document.getElementById("divSubmit").style.display = "block";
                  $("#loadSpinnerUpload").css("display", "none");
                },
                error: function (err) {
                  alert(err.statusText);
                }
              });
            } else {
              alert("FormData is not supported.");
            }
           return true;
               }
            else {
              document.getElementById("msgInvalidUpload").innerHTML = "Invalid file selected, please select a valid image to upload";
              //document.getElementById("fileUpload").value = "";
                return false;
            }
            return true;
        }
</script>




<script type="text/javascript">
  function getIdType(_value) {
    document.getElementById("divContent").style.display = "block";
    if (_value == "National Identity Card") {
      document.getElementById("lblNumber").innerHTML = "National Identity Card";
      document.getElementById("idno").placeholder = "Enter NIN";
      
    }
    else if (_value == "Voter's Card") {
      document.getElementById("lblNumber").innerHTML = "Voter's Card";
      document.getElementById("idno").placeholder = "Enter VIN";
    }
    else if (_value == "Driver's License") {
      document.getElementById("lblNumber").innerHTML = "Driver's License";
      document.getElementById("idno").placeholder = "Enter License number";
    }
    else {
      document.getElementById("lblNumber").innerHTML = "International Passport";
      document.getElementById("idno").placeholder = "Enter International Passport number";
    }
  }
</script>


<script>
  function changeidnocolor() {
    document.getElementById("idno").style.background = "white";
  }
  //save identity
  function uploadIdentity() {
    var country = document.getElementById("country").value;
    var idno = document.getElementById("idno").value;
    var dissued = document.getElementById("dissued").value;
    var dexpiry = document.getElementById("dexpiry").value;
    var idType = document.getElementById("idtype").value;
    if (country == '') {

      document.getElementById("country").focus();
      document.getElementById("country").style.borderColor = "red";
      return false;
    }
    else if (idno == '') {

      document.getElementById("idno").focus();
      document.getElementById("idno").style.borderColor = "red";
      return false;
    }
    else if (dissued == '') {
      document.getElementById("idno").style.borderColor = "green";
      document.getElementById("dissued").focus();
      document.getElementById("dissued").style.borderColor = "red";
      return false;
    }
    else if (dexpiry == '') {
      document.getElementById("idno").style.borderColor = "green";
      document.getElementById("dissued").style.borderColor = "green";

      document.getElementById("dexpiry").focus();
      document.getElementById("dexpiry").style.borderColor = "red";
      return false;
    }
    else if (dissued > dexpiry) {
      document.getElementById("dissued").style.borderColor = "red";
      document.getElementById("dexpiry").style.borderColor = "red";
      return false;
    }
   
    else {
      document.getElementById("btnContinue").style.display = "none";
      document.getElementById("idno").style.borderColor = "green";
      document.getElementById("dissued").style.borderColor = "green";
      document.getElementById("dexpiry").style.borderColor = "green";
      document.getElementById("country").style.borderColor = "green";
      $("#loadSpinnerContinue").css("display", "block");

      var url = "/Users/SaveIdentity/";
      $.ajax({
        url: url,
        data: { idno: idno, dissued: dissued, dexpiry: dexpiry, idtype: idType, countryid: country },
        cache: false,
        type: "POST",
        success: function (data) {
          //on success
          document.getElementById("upload").style.display = "block";
          document.getElementById("idinfo").style.display = "none";
          document.getElementById("country").style.display = "none";
          document.getElementById("imgUpload").style.display = "block";
          document.getElementById("infodiv").style.display = "none";
          document.getElementById("idtype").style.display = "none";
          document.getElementById("divIdentityInfo").style.display = "block";

          getIdentityInfo();
          
          $("#loadSpinnerContinue").css("display", "none");
          $("#btnContinue").css("display", "none");
        },
        error: function (reponse) {
          alert("error : " + reponse);
        }
      });
    }
  }

  //save identity
  function submitIdentity() {
   if (document.getElementById("chkConsent").checked != true) {
      $('#chkConsentmsg').text('You must tick the checkbox below');
      return false;
    }

   else {
     $("#loadSpinnerSubmit").css("display", "block");
     $("#btnSubmit").css("display", "none");
      var url = "/Users/SubmitIdentity/";
      $.ajax({
        url: url,
        data: { },
        cache: false,
        type: "POST",
        success: function (data) {
          document.getElementById("viewInfo").innerHTML = "Identity Details";
          document.getElementById("idnoEdit").disabled = "disabled";
          document.getElementById("dissuedEdit").disabled = "disabled";
          document.getElementById("dexpiryEdit").disabled = "disabled";
          $("#saveChanges").css("display", "none");
          /*$("#DisplayInfo").css("display", "block");*/
          $("#successmsg_id").css("display", "block");
         /* $("#editContent").css("display", "none");*/
          $("#divSubmit").css("display", "none");
          $("#loadSpinnerSubmit").css("display", "none");
        },
        error: function (reponse) {
          alert("error : " + reponse);
        }
      });
    }
  }
</script>

<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.maxHeight) {
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      }
    });
  }
</script>

<script type="text/javascript">
  function getIdentityInfo() {
    var url = "/Users/GetIdentityInfo/";
    var html = '';
    $.ajax({
      url: url,
      data: {},
      cache: false,
      type: "GET",
      success: function (data) {
        $.each(data, function (key, item) {
          document.getElementById("idnoEdit").value = item.IDNo;
          document.getElementById("dissuedEdit").value = dateFormat(new Date(parseInt((item.DateIssued).match(/\d+/)[0])));
          document.getElementById("dexpiryEdit").value = dateFormat(new Date(parseInt((item.ExpiryDate).match(/\d+/)[0])));
        });
        $("#idinfo-collapse").html(html);
      },
      error: function (reponse) {
        alert("error : " + reponse);
      }
    });
  }
  //}

  function dateFormat(d) {
    console.log(d);
    return d.getFullYear() + "-" + ((d.getMonth() + 1) + "").padStart(2, "0") + "-" + (d.getDate() + "").padStart(2, "0");
  }

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

